/* Definições gerais */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #08043f;
    overflow-x: hidden;
}

.titulo {
    color: #84daf3;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    text-transform: uppercase;
}

/* Estilos da tabela */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    line-height: 2px;
    padding-left: 1px;
    padding-right: 40px;
}

.tabela2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.horizontal {
    color: #4cd9f9;
    text-align: center;
    padding-bottom: 20px;
    font-size: 12px;
}

.vertical {
    color: #4cd9f9;
    text-align: center;
    font-size: 12px;
}

td {
    text-align: center;
    border: 6px solid #08043f;
    border-radius: 8px;
    padding: 2px;
}

td:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 3px outset;
}

/* Oculta linhas vazias */
td:empty {
    visibility: hidden;
}

td h5 {
    text-align: end;
    position: relative;
    top: 0;
    right: 0;
    left: 3px;
    margin: 6px;
    font-size: 10px;
}

td h3 {
    font-size: 18px;
    padding-bottom: 2px;
}

td h4 {
    font-size: 10px;
}

/* Cores das células */
.azul {
    background-color: #2854e7;
    color: white;
}

.azul:hover {
    border-color: #3ce5ee;
}

.verde {
    background-color: #21cb68;
    color: white;
}

.verde:hover {
    border-color: #42f542;
}

.amarelo {
    background-color: #f0e90b;
    color: white;
}

.amarelo:hover {
    border-color: #f7f70d;
}

.roxo {
    background-color: #9b59b6;
    color: white;
}

.roxo:hover {
    border-color: #e85df7;
}


.rosa {
    background-color: #fa598f;
    color: white;
}

.rosa:hover {
    border-color: #f389ad;
}

.laranja {
    background-color: #ff7c09;
    color: white;
}

.laranja:hover {
    border-color: #fd9f4c;
}

.azulClaro {
    background-color: #00bcd4;
    color: white;
}

.azulClaro:hover {
    border-color: #63e5f6;
}

.vermelho {
    background-color: #fc1606;
    color: white;
}

.vermelho:hover {
    border-color: #ff5246;
}

.vermelho1 {
    background-color: #fc1606;
    color: white;
}

.vermelho1:hover {
    border-color: #ff5246;
}

.vinho {
    background-color: #52080f;
    color: white;
}

.vinho:hover {
    border-color: #c61c2a;
}

.vinho1 {
    background-color: #52080f;
    color: white;
}

.vinho1:hover {
    border-color: #c61c2a;
}

/* .vazio{
    background-color: #fff;
} */

footer {
    color: #63e5f6;
    text-align: center;
    font-size: 12px;
}

/* Adicionando regra de mídia para 1024px */
@media screen and (max-width: 1024px) {
    .titulo {
        font-size: 25px;
    }
    .horizontal {
        font-size: 10px;
    }
    
    .vertical {
        font-size: 10px;
    }

    table {
        padding-right: 20px;
    }
    td {
        border-width: 7;
    }
    td h5 {
        font-size: 8px;
    }
    td h3 {
        font-size: 14px;
    }
    td h4 {
        font-size: 6px;
    }
    footer {
        font-size: 10px;
    }
}


/* Adicionando regra de mídia para 768px */
@media screen and (max-width: 768px) {
    .titulo {
        font-size: 20px;
    }

    .horizontal {
        font-size: 8px;
    }
    
    .vertical {
        font-size: 8px;
    }
    
    table {
        padding-right: 10px;
    }
    td {
        border-width: 6px;
    }
    td h5 {
        font-size: 4px;
    }
    td h3 {
        font-size: 10px;
    }
    td h4 {
        font-size: 4px;
    }
    footer {
        font-size: 8px;
    }
}

/* Adicionando regra de mídia para telas menores que 576px */
@media screen and (max-width: 576px) {
    .titulo {
        font-size: 15px;
    }

    .horizontal {
        font-size: 6px;
    }
    
    .vertical {
        font-size: 6px;
    }
    table {
        padding-right: 8px;
    }
    td {
        border-width: 4px;
    }
    td h5 {
        font-size: 3px;
    }
    td h3 {
        font-size: 8px;
    }
    td h4 {
        font-size: 3px;
    }
    footer {
        font-size: 6px;
    }
}